@import 'colors.module.scss';

.container {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: $primary;
  padding: 0 3%;
  z-index: 8;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 106%;
    padding: 0 3%;
    transform: translateX(-3%);
    height: 70px;
    padding-top: 10px;

    button {
      width: initial;
      height: initial;
      padding: 8px 35px;
      margin: 0;
    }
  }
}

.position {
  margin-top: 20px;

  &__label {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.separator {
  margin: 20px 0;
  width: 106%;
  transform: translateX(-3%);
  height: 5px;
  background-color: $background;
}
