.container {
  position: relative;

  button {
    height: calc(100% - 20px);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 10px;
    z-index: 20;
    opacity: 0;
    transition: 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}

.left-button {
  left: 0;
  width: 50px;
}

.right-button {
  right: 0;
  width: 60px;
}
