@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  h2 {
    font-size: map-get($map: $font-size, $key: heading);
  }
}

.role {
  margin-top: 25px;
  z-index: 25;

  &__label {
    margin-bottom: 8px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p {
      margin-left: 10px;
      margin-top: -4px;
    }

    @media screen and (max-width: 430px) {
      flex-direction: column;

      p {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }
}
