@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  .MuiFormLabel-root,
  .MuiInputBase-root {
    color: $body-text;
    font-weight: 500;
    font-family: $body-font;
    font-size: map-get($font-size, body);
    line-height: calc(1.5 * #{map-get($font-size, body)});
  }

  .PrivateNotchedOutline-root-59,
  .MuiOutlinedInput-notchedOutline {
    border: 1px solid $body-text;
    transition: 0.4s;
  }

  .MuiInputBase-root:hover {
    .PrivateNotchedOutline-root-59,
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $secondary;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid $secondary;
  }

  .MuiFormLabel-root.Mui-focused {
    color: $secondary;
  }
}
