@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.movable,
.fix,
.block {
  display: flex;
  justify-content: center;
  background-color: $primary;
  width: 100vw;
  transform: translateX(calc((1400px - 100vw) / 2));
  height: 50px;
  margin-bottom: 40px;

  @media screen and (max-width: 1400px) {
    transform: none;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.fix {
  position: fixed;
  top: 0;
}

.movable {
  position: absolute;
  top: 490px;
  z-index: 7;

  @media screen and (max-width: 768px) {
    top: 421px;
  }
}

.back-container {
  max-width: 1415px;
  width: 100%;
  padding: 0 3%;
  position: absolute;
}

.back {
  position: absolute;
  left: 60px;
  top: 7px;
  color: $body-text;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    background-color: $background;
  }

  svg {
    margin-right: 10px;
  }
}

.items-list {
  $gutter: 10px;

  display: grid;
  grid-template-columns: 10px;
  grid-template-rows: 50px;
  grid-auto-flow: column;
  grid-column: 1 / -1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * #{$gutter});
  margin-bottom: calc(-0.25 * #{$gutter});
  scrollbar-width: none;

  @supports not (display: grid) {
    display: flex;
  }

  &:before,
  &:after {
    content: '';
    width: 10px;
  }

  li,
  .item {
    scroll-snap-align: center;
    padding: 0 calc(#{$gutter} + 5px / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    font-family: $title-font;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      border-bottom: 1px solid $secondary !important;
      a {
        color: $secondary;
      }

      svg {
        fill: $secondary;
      }
    }

    a {
      color: $body-text;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      fill: $body-text;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      transition: 0.4s;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  li.active {
    border-bottom: 1px solid $body-text;
  }
}
