@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';
@import 'animations.module.scss';

.container {
  width: 500px;
  background-color: $primary;
  padding: 30px;
  position: absolute;
  top: 90px;
  left: 50%;
  animation: fadeInAuthModal ease 0.4s;
  transform: translateX(-50%);
  border-radius: 15px;
  z-index: 8;
  margin-bottom: 20px;

  @media screen and (max-width: 1050px) {
    animation: initial;
    width: 100%;
    min-height: 100%;
    top: 0;
    border-radius: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .buttons {
    @include alignSpaceAndCenter();
    width: 100%;
  }

  .close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .close-button {
    cursor: pointer;
    margin-bottom: 5px;
    width: fit-content;
  }

  .layout {
    h2,
    h3 {
      text-align: center;
    }
    h2 {
      font-size: map-get($font-size, heading);
    }
    h3 {
      font-size: map-get($font-size, heading-small);
    }

    @media screen and (max-width: 1050px) {
      max-width: 400px;
      width: 100%;
    }
  }

  .action {
    color: $secondary;
    padding-left: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.successful-email-sent {
  padding-bottom: 10px;
}

.forget-password {
  h3 {
    font-size: map-get($font-size, body) !important;
    line-height: calc(1.5 * #{map-get($font-size, body)});
    text-align: left !important;
    margin-top: 20px;
  }
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;

  &__line {
    height: 1px;
    width: 100px;
    background-color: $body-text;
  }

  &__text {
    margin: 0 30px;
  }
}

.email-button {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: $submit;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
  transition: 0.4s;

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }
}
