@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: $background;
  width: 100%;
  height: 100%;
}
.header {
  padding: 20px 3%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__back-button {
    height: 25px;
  }

  h1 {
    text-align: center;
    width: 100%;
    font-size: map-get($font-size, heading);
    line-height: calc(1.5 * #{map-get($font-size, heading)});
    transform: translateX(-12px);
  }
}
.options {
  border-top: 1px solid $primary-light;
}

.option {
  padding: 0 3%;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $primary-light;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
    }
  }

  svg {
    fill: $body-text;
    width: 18px;
    height: 18px;
  }
}
