@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  width: 950px;
  margin-bottom: 50px;

  @media screen and (max-width: 950px) {
    width: 100vw;
  }
}

.filter {
  @include alignSpaceAndCenter();
  @media screen and (max-width: 950px) {
    padding: 0 3%;
  }
}

.theme {
  background-color: $primary;
  padding: 20px 50px;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    padding: 20px 3%;
  }

  h2 {
    font-size: map-get($font-size, heading);
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $secondary-text;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.display-more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-statements {
  margin-top: 35px;
  @media screen and (max-width: 1050px) {
    padding: 0 3%;
  }
}

.success {
  & > div {
    height: 230px;

    h3 {
      text-align: center;
      font-size: map-get($font-size, heading-small);
    }
  }
}
