@import 'fonts.module.scss';
@import 'colors.module.scss';

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 0 3%;
  padding-top: 30px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  aside {
    width: 25%;
    padding-top: 12px;

    a {
      color: white;
      font-size: map-get($font-size, body-small);
    }

    li {
      border-radius: 5px;
      padding: 7px 10px;
    }
    .menu-active {
      background-color: lighten($background, 8);
    }

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  article {
    width: 75%;
    padding-left: 4%;

    h1 {
      margin-bottom: 20px;
      font-size: map-get($font-size, heading-large);
    }

    h2 {
      font-size: map-get($font-size, heading);
      margin-bottom: 6px;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 15px;
      margin-bottom: 8px;
    }
    ul,
    p {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 0;
    }
  }

  ul {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

.dropdown {
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
    margin-bottom: 15px;
  }
}

.dropdown :global(.filter-dropdown__control),
.dropdown :global(.filter-dropdown__menu) {
  width: 100%;
  max-width: 500px;
}
