@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  margin: auto;
  padding-top: 80px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    align-items: center;
    width: 350px;
  }

  @media screen and (max-width: 370px) {
    width: 290px;
  }

  h1 {
    @media screen and (max-width: 370px) {
      font-size: map-get($font-size, heading);
    }
    margin: 30px 0 10px 0px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  p {
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  button {
    height: initial;
    width: 300px;
    margin-top: 30px;
    color: $body-text;
    font-weight: 600;
    font-size: map-get($font-size, heading-small);
    line-height: calc(1.5 * #{map-get($font-size, heading-small)});

    @media screen and (max-width: 370px) {
      width: 290px;
      font-size: map-get($font-size, body);
      line-height: calc(1.5 * #{map-get($font-size, body)});
    }
  }
}

.number {
  font-size: 128px;
  line-height: 90px;
  font-weight: 300;
  color: $secondary;

  @media screen and (max-width: 370px) {
    font-size: 92px;
  }
}
