@import 'fonts.module.scss';
@import 'colors.module.scss';

.container {
  margin-top: 30px;
}

.title {
  font-family: $title-font;
  font-size: map-get($font-size, heading-small);
  font-weight: 600;
  margin-bottom: 5px;
}

.reminder {
  margin-bottom: 5px;
}
