@import 'colors.module.scss';

.add {
  button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
  }
  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    path {
      fill: $body-text;
    }
  }
}

.add-mobile {
  $size: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: $size;
  width: $size;
  background-color: $secondary;
  border-radius: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  svg {
    width: 25px;
    height: 25px;
    fill: $body-text;
  }
}
