$light-grey: rgb(101, 119, 134);
$twitter-color: #00acee;

.container {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 5px 16px 16px 16px;
  max-width: 550px;
  background-color: white;
  width: 100%;
}

.container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.99);
  font-family: 'Open Sans';
  margin-top: 10px;
}

.container a {
  text-decoration: none;
  outline: 0 none;
}

.container a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.logo {
  img {
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 49px;
    height: 49px;
    border-radius: 49px;
    object-fit: cover;
  }
}

.text {
  a {
    color: $twitter-color;
  }
}

.user {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
}

.names {
  margin-left: 8px;
}

.name-container {
  display: flex;
  align-items: flex-end;

  svg {
    position: initial;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    fill: $twitter-color;
  }
}

.name {
  color: black;
  font-weight: 700;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  color: $light-grey;
}

.photo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.photo {
  min-width: 50%;
  margin-top: 15px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
}

.date {
  padding: 10px 0px;
  color: $light-grey;
  width: 100%;
  border-bottom: 1px solid lighten($light-grey, 40);
}

.footer {
  display: flex;
  align-items: center;
  color: $light-grey;
  margin-top: 10px;
  font-size: 15px;

  svg {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    fill: $light-grey;
    margin-right: 5px;
  }

  a {
    display: flex;
    align-items: center;
    color: inherit;

    &:first-of-type {
      margin-right: 20px;
    }
  }

  a:last-of-type {
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
