@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  width: 100%;
  textarea {
    width: 100%;
    resize: none;
    background-color: $background;
    color: $body-text;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: $body-font;
    font-size: map-get($font-size, body);
    line-height: calc(1.5 * #{map-get($font-size, body)});

    &::placeholder {
      color: $secondary-text;
    }
  }
}
