@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-top: 25px;

  img {
    width: 55px;
    height: 55px;
    border-radius: 55px;
    object-fit: cover;
    margin-right: 15px;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: $body-text;
    cursor: pointer;
  }
}

.info {
  display: flex;
  align-items: center;
}

.role {
  font-weight: 300;
}

.modal {
  p {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  button {
    font-size: map-get($font-size, body);
    margin-bottom: 0;
    width: 100%;
    margin-top: 8px;
  }
}
