@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    button:first-child:nth-last-child(2),
    button:first-child:nth-last-child(2) ~ button {
      width: 48%;
    }
    button:first-child:nth-last-child(3),
    button:first-child:nth-last-child(3) ~ button {
      width: 32%;

      @media screen and (max-width: 359px) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  button {
    min-width: 110px;
    border-radius: 5px;
    font-weight: 600;
    font-size: map-get($font-size, body);
    color: $body-text;
    height: 50px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.4s;

    @media screen and (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
  button.active {
    opacity: 1;
  }
}

.pro {
  background-color: $pro;
}
.con {
  background-color: $con;
}
.neutral {
  background-color: $neutral;
}
