@import 'fonts.module.scss';

.container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0% 3%;
  margin: auto;
  margin-top: -50px;

  @media screen and (max-width: 768px) {
    margin-top: -30px;
  }

  & > div {
    width: 100%;
  }
}

.filter {
  margin-top: 30px;

  &__label {
    font-size: map-get($font-size, heading-small);
    margin-bottom: 10px;
  }
  :global(.filter-dropdown__menu),
  :global(.filter-dropdown__control) {
    width: 100% !important;
  }
}
