@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  width: 100vw;
  margin-bottom: 80px;

  @media screen and (max-width: 768px) {
    transform: translateX(-3%);
  }

  :global(.message) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 650px) {
    :global(.message) {
      border-radius: 0px;
      margin-bottom: 3px;
    }
  }
}

.switch {
  width: 100%;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;

  button {
    width: 50%;
    height: 50px;
    border-radius: 0px;
  }

  :global(.secondary-button) {
    background-color: $background;
  }
}

.type {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  transition: 0.3s;
  margin-bottom: 15px;

  @media screen and (max-width: 650px) {
    margin-bottom: 0px;
  }

  button {
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: map-get($font-size, heading-small);
    background-color: $background;
    cursor: pointer;
    transition: 0.3s;
    width: 45%;

    @media screen and (max-width: 420px) {
      font-size: map-get($font-size, body);
    }
  }

  &__pro {
    margin-right: 20px;

    @media screen and (max-width: 370px) {
      margin-right: 10px;
    }
  }
  &__pro.active {
    border: 2px solid $pro;
    color: $pro;
  }
  &__con.active {
    border: 2px solid $con;
    color: $con;
  }
  .inactive {
    border: 2px solid $secondary-text;
    color: $secondary-text;
    opacity: 0.3;
  }
}

.type-pro {
  border-bottom: 2px solid $pro;
}
.type-con {
  border-bottom: 2px solid $con;
}

.type-fixed {
  position: fixed;
  top: 65px;
  z-index: 50;
  padding-top: 15px;
  background-color: $primary-light;

  button {
    background-color: $primary-light;
  }
  .inactive {
    opacity: 0.5;
  }
}

.arguments {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $secondary;

  a {
    width: 670px;

    @media screen and (max-width: 675px) {
      width: 100%;
    }
  }
}

.add {
  $size: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: $size;
  width: $size;
  background-color: $secondary;
  border-radius: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
  svg {
    width: 25px;
    height: 25px;
    fill: $body-text;
  }
}

.no-arguments {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 3%;
}
