@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  margin: 20px 0px;
  position: relative;

  @media only screen and (max-device-width: 768px) {
    padding: 0 3%;
  }

  h2 {
    font-size: map-get($font-size, heading-small);
    line-height: calc(1.5 * #{map-get($font-size, heading-small)});
  }

  .form__field:placeholder-shown ~ .form__label {
    top: 0px;
    cursor: initial;
  }
}

.add-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-social-networks {
  margin-top: 10px;
}

.modal {
  width: 100%;
  h3 {
    font-size: map-get($font-size, body);
    line-height: calc(1.5 * #{map-get($font-size, body)});
  }
  :global(.filter-dropdown-container) {
    margin-top: 10px;

    :global(.filter-dropdown__control) {
      width: 100%;
    }
    :global(.filter-dropdown__menu) {
      width: 100%;
    }
  }

  button {
    margin-top: 15px;
  }
}

.item {
  text-align: right;

  .text-button-cancel {
    margin-top: 5px;
  }
}
