@import 'colors.module.scss';

$imgSize: 250px;
$editSize: 40px;

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -10px;

  @media screen and (max-width: 600px) {
    top: 70px;
  }

  h1 {
    display: none;
  }

  & > div {
    width: 100%;
  }
}

.layout {
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.picture {
  margin-top: 20px;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-right: 60px;

  @media screen and (max-width: 768px) {
    margin-right: 0;
  }

  img {
    width: $imgSize;
    height: $imgSize;
    border-radius: $imgSize;
    object-fit: cover;

    @media screen and (max-width: 850px) {
      $imgSize: 200px;
      width: $imgSize;
      height: $imgSize;
      border-radius: $imgSize;
      object-fit: cover;
    }
    @media screen and (max-width: 768px) {
      $imgSize: 200px;
      width: $imgSize;
      height: $imgSize;
      border-radius: $imgSize;
      object-fit: cover;
    }
  }

  &__edit {
    width: $editSize;
    height: $editSize;
    border-radius: $editSize;
    background-color: $secondary;
    position: absolute;
    right: 0;
    top: 170px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      fill: $body-text;
      width: 20px;
      height: 20px;
    }
  }
}

.data {
  max-width: 440px;
  width: 100%;
}
