@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  width: 800px;
  background-color: $primary;
  border-radius: 10px;
  margin: 30px 0px;

  @media screen and (max-width: 830px) {
    width: 700px;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    border-radius: 0px;
    width: 100%;
  }

  button {
    font-size: map-get($font-size, heading-small);
    overflow: visible;

    @media screen and (max-width: 374px) {
      font-size: 1.6rem;
    }

    &:disabled {
      cursor: initial;
    }
  }
}

.img-container {
  position: relative;
  height: 170px;
  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.8;

    @media screen and (max-width: 768px) {
      border-radius: 0;
    }
  }
  h1 {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    padding: 0 3%;

    @media screen and (max-width: 600px) {
      font-size: 2.2rem !important;
      line-height: 3rem !important;
      font-weight: 800 !important;
    }
  }
  @media screen and (min-width: 768px) {
    button {
      display: none;
    }
  }

  button {
    svg {
      position: absolute;
      top: 20px;
      left: 3%;
    }
  }
}

.hide-vote {
  position: absolute;
  top: 0;
  width: 81%;
  transform: translateX(-0.5%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 4% 3%;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    width: 93%;
  }

  p {
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    font-size: map-get($font-size, body);
    text-transform: uppercase;
    width: 160px;

    &:first-of-type {
      margin-right: 10px;
    }
    @media screen and (max-width: 374px) {
      text-transform: none;
    }
  }
}

.votes {
  padding: 0 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }
}

.votes-background {
  width: 100%;
  background-color: $background;
  border-radius: 40px;
  @include alignSpaceAndCenter();
  position: relative;

  span {
    position: absolute;
    right: 50px;
    font-family: $body-font;
    font-size: map-get($font-size, heading-small);
  }

  .label {
    position: relative;
    right: initial;
  }
}

.pro,
.con,
.neutral {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: $body-text;
  font-family: $body-font;
  font-size: map-get($font-size, heading-small);
  font-weight: 800;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

.vote-active {
  text-align: left;
  padding-left: 50px;
}

.pro {
  background-color: $pro;

  &:hover {
    background-color: lighten($color: $pro, $amount: 7);
  }
}

.neutral {
  background-color: $neutral;
  white-space: nowrap;

  &:hover {
    background-color: lighten($color: $neutral, $amount: 7);
  }
  &__label {
    position: initial !important;
    @media screen and (max-width: 370px) {
      display: none;
    }
  }
}

.con {
  background-color: $con;

  &:hover {
    background-color: lighten($color: $con, $amount: 7);
  }
}

.bottom {
  margin-top: 20px;
  @include alignSpaceAndCenter();
  padding: 0 10%;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }

  button {
    font-size: map-get($font-size, body);
    @media screen and (max-width: 374px) {
      min-width: 150px;
    }
  }
}

.numbers {
  width: 150px;
  @include alignSpaceAndCenter();
  margin-left: 20px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;
  }

  svg {
    height: 25px;
    width: 25px;
    fill: $body-text;
    margin-right: 5px;
  }

  p {
    text-align: center;
    font-weight: 800;
    font-size: map-get($font-size, heading-small);
  }
}

.number {
  @media screen and (max-width: 450px) {
    display: flex;
    align-items: center;
    margin-top: 5px;

    svg {
      display: none;
    }
    div {
      font-weight: 600;
      margin-top: 0;
      margin-left: 5px;
    }
    div,
    p {
      font-size: map-get($font-size, body);
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.picture {
  $pictureSize: 35px;
  width: $pictureSize;
  height: $pictureSize;
  border-radius: $pictureSize;
  background-color: $primary-light;
  position: absolute;
  padding-left: 1px;
  right: 0;
  top: -5px;

  img {
    width: $pictureSize;
    height: $pictureSize;
    border-radius: $pictureSize;
    margin-left: -1px;
    object-fit: cover;
  }
}

.background-image {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.11%, #000000 110%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.configuration {
  position: absolute;
  right: 3%;
  top: 20px;
  z-index: 2;
  background-color: rgba($background, 1);
  border-radius: 5px;

  a {
    display: flex;
    align-items: center;

    svg {
      fill: $body-text;
      margin-right: 12px;
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    background-color: transparent;
    span {
      display: none;
    }
    a {
      border-color: transparent;
      padding: 0;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
