@import 'colors.module.scss';
@import 'fonts.module.scss';

.redirection {
  padding: 0 3%;
  text-align: center;
  padding-top: 40px;
  font-size: map-get($map: $font-size, $key: heading-small);
}

.container {
  margin: auto;
  max-width: 600px;
  padding-top: 30px;

  h1 {
    text-align: center;
    font-size: map-get($font-size, heading);
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.debate {
  max-width: 400px;
  margin: auto;

  div:first-of-type {
    width: 100%;
  }
}

.authentification {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__buttons {
    margin-top: 15px;

    button:first-of-type {
      margin-right: 10px;
    }
  }
}
