@import 'colors.module.scss';
@import 'fonts.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translateY(-70%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}

.container {
  background-color: $primary;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  animation: fadeIn ease 0.4s;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  z-index: 10;
  height: initial !important;

  @media screen and (max-width: 600px) {
    width: 100%;
    min-height: 100vh;
    top: 0px;
    background-color: $background;
    transform: translateX(-50%);
    border-radius: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    text-align: justify;
    animation: none;
  }
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-button {
  cursor: pointer;
  margin-bottom: 15px;
  width: fit-content;
}

.info-modal + .background-less-opacity {
  left: 0;
}
