@import 'fonts.module.scss';

.tweets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-container {
  width: 550px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  h2 {
    margin-bottom: 35px;

    @media screen and (max-width: 650px) {
      margin-bottom: 15px;
      font-size: 2rem;
      line-height: calc(2rem * 1.5);
    }
    @media screen and (max-width: 420px) {
      font-size: 1.8rem;
      line-height: calc(1.8rem * 1.5);
    }
  }
}

$size: 40px;

.lds-ring {
  display: inline-block;
  position: relative;
  width: calc(40px * 1.25);
  height: calc(40px * 1.25);
  margin: 50px 0;
  left: 45%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: $size;
  height: $size;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
