@import 'fonts.module.scss';
@import 'colors.module.scss';

.container {
  ul {
    margin-top: 30px;
  }
  li {
    padding: 12px 30px;
    border-top: 1px solid $primary-light;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
    width: calc(100% + 60px);
    margin-left: -30px;

    &:hover,
    &:active {
      background-color: $secondary;
    }
  }
  .active {
    background-color: $secondary;
  }
}

.title {
  font-size: map-get($font-size, heading-small);
  font-weight: bold;
  margin-bottom: 7px;
}
