@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translateY(calc(-50% - 90px)) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes fadeInAuthModal {
  0% {
    opacity: 0.3;
    transform: translateY(-90px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
