@import './colors.module';
@import './fonts.module';
@import './config.module';
@import './buttons.module';
@import './components.module';

.underlined {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.background-less-opacity {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: -10vw;
  width: 110vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 7;
}

.clickable {
  cursor: pointer;
}

main {
  margin: auto;
  width: 100%;
  max-width: 1400px;
  min-height: calc(100% - 155px);
  position: relative;

  @media screen and (max-width: 1050px) {
    min-height: calc(100% - 60px);
  }
}

.width100 {
  width: 100%;
}

$height-nav: 70px;

header {
  background-color: $primary-light;
  width: 100%;
  position: relative;
  height: $height-nav;
  z-index: 20;

  @media screen and (max-width: 1050px) {
    height: 60px;
  }
}

footer {
  background-color: darken($background, 2);
  width: 100%;
  height: 64px;
  margin-top: 20px;
}

.fix-on-top {
  position: fixed !important;
  top: 0 !important;
  padding-top: 15px;
  height: 65px !important;
  border-bottom: 1px solid rgba($secondary-text, 0.2);
  background-color: $primary-light !important;
  z-index: 7;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}

.link-without-style {
  color: inherit;
  transition: 0;

  &:hover {
    opacity: 1;
  }
}

.transparent-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  cursor: initial;
}

.center-block {
  display: flex;
  align-items: center;
  flex-direction: column;

  nav {
    transform: none;
  }
}

.bold {
  font-weight: bold;
}

.secondary-text {
  color: $secondary-text;
}

.no-scroll-main-mobile {
  overflow: hidden;
  height: calc(100vh - 60px);
  position: fixed;
}

.no-scroll-main-desktop {
  overflow: hidden;
  height: calc(100vh - 70px);
}

.no-scroll-desktop {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.space-20 {
  margin-top: 20px;
}

.cookie-consent-wrapper-button {
  @media screen and (max-width: 1050px) {
    width: calc(97% - 15px);

    button {
      width: 100%;
    }
  }
}
