@import './colors.module';
@import './fonts.module';

.primary-button,
.secondary-button,
.cancel-button,
.neutral-button {
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-size: map-get($font-size, body);
}
.primary-button {
  color: $body-text;
  background-color: $secondary;
  border: 2px solid $secondary;

  &:hover {
    color: lighten($color: $body-text, $amount: 10);
  }
}

.secondary-button {
  color: $secondary;
  border: 2px solid $secondary;
  background-color: transparent;

  &:hover {
    color: lighten($color: $secondary, $amount: 7);
  }
}

.cancel-button {
  color: $error;
  border: 2px solid $error;
  background-color: transparent;

  &:hover {
    color: lighten($color: $error, $amount: 5);
  }
}
.text-button {
  border: none;
  outline: none;
  color: $secondary;
  background-color: transparent;
  cursor: pointer;
  font-family: $body-font;
  font-size: map-get($font-size, body);

  &:hover {
    opacity: 0.8;
  }
}

.text-button-cancel {
  color: $error;
}

.neutral-button {
  color: $body-text;
  border: 2px solid $body-text;
}
