$primary: #1f1f4b;
$primary-light: #2c2c6a;

$background: #141534;

$secondary: #4c92e3;

$body-text: #eeeeff;
$secondary-text: #929ba5;

$pro: #60bae3;
$con: #df8500;
$neutral: #a2a1af;

$error: #f16e6e;
$congratulate: #79e1a3;

$submit: #5fc796;
