/* 
   1- Form 
   2- Messages (error & success)  
   3- React Slick 
   4- Filter-dropdown : customized React Select 
   5- React-tags : customized React Tags
   6- React-clamp-lines 
   7- Material UI pickers 
   8- Video-js
   9- Facebook & Google button

*/

/*###### 1- FORM  ###### */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 15px;
  min-width: 100%;
}

.paddingLeft35 {
  padding-left: 35px;
}

.form__group.error {
  .form__field {
    border-bottom: 1.5px solid $error;
  }
}
.form__group.error + div {
  text-align: left;
}

.form__group.success {
  .form__field {
    border-bottom: 1.5px solid $congratulate;
  }
}

.form__suffix {
  position: absolute;
  top: 26px;
  right: 5px;
}

.form__prefix {
  position: absolute;
  top: 27px;
  left: 2px;
  width: 18px;
  height: 18px;
  fill: $body-text;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1.5px solid $body-text;
  outline: 0;
  color: $body-text;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 4px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.form__password-visible {
  svg {
    fill: $body-text;
    width: 20px;
    position: absolute;
    right: 40px;
    top: 56px;
    transform: translateY(-30px);
    cursor: pointer;
  }
}

.form__field--error {
  color: $error;
  font-size: map-get($font-size, body-small);
  line-height: calc(1.5 * #{map-get($font-size, body-small)});
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: $body-text;
  z-index: -1;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $secondary;
  }

  padding-bottom: 6px;
  border-bottom: 3px solid $secondary;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.warning {
  font-size: map-get($font-size, body-small);
  line-height: calc(1.5 * #{map-get($font-size, body-small)});
  &__perfect {
    color: darken($color: $congratulate, $amount: 20);
  }

  &__good {
    color: $congratulate;
  }
  &__weak {
    color: orange;
  }
  &__very-weak {
    color: $error;
  }
}

.text-area {
  .MuiFormLabel-root,
  .MuiInputBase-root {
    color: $body-text;
    font-weight: 500;
    font-family: $body-font;
    font-size: map-get($font-size, body);
    line-height: calc(1.5 * #{map-get($font-size, body)});
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
  }

  .PrivateNotchedOutline-root-59,
  .MuiOutlinedInput-notchedOutline {
    border: 1px solid $body-text;
    transition: 0.4s;
  }

  .MuiInputBase-root:hover {
    .PrivateNotchedOutline-root-59,
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $secondary;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid $secondary;
  }

  .MuiFormLabel-root.Mui-focused {
    color: $secondary;
  }
}

/*###### 2- Messages (error & success)  ###### */

.error-message {
  border-top: 5px solid $error;
  margin-top: 20px;
  padding: 8px 6px;
  box-shadow: 0px 0px 10px 1px rgba($color: #000000, $alpha: 0.5);

  &__title {
    font-weight: 600;
  }

  p {
    color: $error;
  }
}

.success-message {
  border-top: 5px solid $congratulate;
  margin-top: 20px;
  padding: 8px 6px;
  box-shadow: 0px 0px 10px 1px rgba($color: #000000, $alpha: 0.5);
}

/*###### 3- React Slick ###### */

.debate-list {
  .slick-slide {
    padding: 10px 0px;
    transition: 0.4s;
    opacity: 0.6;
  }

  .slick-active {
    opacity: 1;
  }

  .slick-track:hover .slick-slide {
    opacity: 0.6 !important;
    width: 90%;

    @media screen and (max-width: 768px) {
      opacity: 1 !important;
    }
  }
  .slick-track:hover .slick-active:hover {
    opacity: 1 !important;
    //margin: 0px 10px;
  }
}

/*###### 4- Filter-dropdown : customized React Select ###### */

$dropdown-width: 205px;

.filter-dropdown-container {
  z-index: 6;
  .filter-dropdown {
    &--is-disabled {
      .filter-dropdown__indicator {
        display: none;
      }
    }
    &__control {
      background-color: transparent;
      border-color: $body-text;
      width: $dropdown-width;
    }

    &__single-value {
      color: $body-text;
    }

    &__input {
      color: $body-text;
    }

    &__menu-list {
      max-height: 280px;
      padding: 0;
      border: 1px solid $body-text;
    }

    &__menu {
      background-color: $background;
      width: $dropdown-width;
      z-index: 5;
    }

    &__option {
      &--is-selected {
        background-color: $secondary;
      }
      &--is-focused {
        background-color: lighten($color: $secondary, $amount: 10);
        cursor: pointer;
      }
    }

    &__indicator {
      color: $body-text;

      &-separator {
        display: none;
      }
    }
  }
}

.no-border-dropdown {
  .filter-dropdown {
    &__control {
      border: transparent;
      cursor: pointer;
      width: 160px;
      min-height: 22px;
      margin-left: -1px;

      &--is-selected,
      &--is-focused {
        border: none;
        outline: none;
        box-shadow: none;
        min-height: 22px;
      }
    }
    &__single-value {
      font-weight: 300;
    }
    &__value-container {
      padding: 0px;
    }
    &__indicator {
      padding: 0px;
      svg {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
    &__menu {
      width: 160px;
    }
  }
}

/*###### 5- React-tags : customized React Tags ###### */

.ReactTags__tags {
  position: relative;
}

$tag-width: 290px;

/* Styles for the input */
.ReactTags__tagInput {
  width: $tag-width;
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput .ReactTags__tagInputField,
.ReactTags__tagInput .ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $body-text;
  background-color: transparent;
  padding: 0 4px;
}
.ReactTags__tagInputField::placeholder {
  color: $body-text;
}

/* Styles for selected tags */
.ReactTags__selected .ReactTags__tag {
  background-color: $secondary;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
.ReactTags__selected .ReactTags__remove {
  color: $body-text;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: $body-text;
  width: $tag-width;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul .ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

/*###### 6- React-clamp-lines  ###### */

.see-more {
  button {
    border: none;
    outline: none;
    color: $secondary;
    background-color: transparent;
    cursor: pointer;
    font-family: $body-font;
    font-size: map-get($font-size, body);
  }
  p {
    word-break: break-word;
  }
}

/*###### 7- Material UI pickers  ###### */

.date-picker {
  .MuiFormControl-root {
    width: 100%;
    margin-top: 20px;
  }

  .MuiInputBase-root {
    color: $body-text;
    font-family: $body-font;
    font-size: map-get($font-size, body);
    font-size: map-get($font-size, body);
  }

  .MuiInput-underline:before {
    border-color: $body-text;
  }

  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid $body-text;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid $secondary;
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
  }

  .MuiIconButton-root {
    color: $body-text;
  }

  .MuiSvgIcon-root {
    $size: 20px;
    width: $size;
    height: $size;
  }
}

.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: $secondary !important;
}

.MuiFormLabel-root {
  color: $body-text !important;
  font-family: $body-font !important;
}

.MuiTypography-body1,
.MuiTypography-subtitle1,
.MuiFormLabel-root {
  font-size: map-get($font-size, body) !important;
}

.MuiInputLabel-shrink {
  transform: translate(0, 0px) scale(1) !important;
}

.MuiTypography-caption,
.MuiButton-root,
.MuiTypography-body2 {
  font-size: 1.2rem !important;
}
.MuiTypography-h4 {
  font-size: map-get($font-size, heading) !important;
}

.MuiTypography-body1,
.MuiTypography-subtitle1,
.MuiTypography-caption,
.MuiButton-root,
.MuiTypography-h4,
.MuiPickersDay-day,
.MuiFormLabel-roo {
  font-family: $title-font !important;
}

/*###### 8- VIDEO-JS  ###### */

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*###### 9 - FACEBOOK & GOOGLE BUTTON  ###### */

.my-facebook-button {
  background-color: #3b5998;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.4s;

  i {
    margin-right: 20px;
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }
}

.my-google-button {
  font-weight: 600 !important;
  font-size: 16px !important;
  width: 100% !important;
  border-radius: 5px !important;
  font-family: $title-font !important;
  justify-content: center;
  margin-top: 10px;
  transition: 0.4s;
  opacity: 1 !important;

  svg {
    margin-top: 5px;
  }

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
    opacity: 0.8 !important;
  }
}

/*###### 10 - TOOLTIP Material UI  ###### */

.MuiTooltip-tooltip {
  font-size: 14px !important;
  font-family: $body-font !important;
  background-color: $primary !important;
  color: $body-text !important;
  padding: 10px !important;
}

.MuiTooltip-arrow {
  color: $primary !important;
}
