* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app,
#__next,
#__next > div {
  height: 100%;
}

input[type='button'],
button {
  outline: none;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: $body-text;
  font-family: $body-font;
  font-size: map-get($font-size, body);
}
button::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

input {
  color: $body-text;
  line-height: initial;

  &:focus {
    border: none;
    outline: none;
  }
}

a {
  color: $secondary;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.form__group input:-webkit-autofill,
.form__group input:-webkit-autofill:hover,
.form__group input:-webkit-autofill:focus,
.form__group input:-internal-autofill-selected {
  animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  animation-fill-mode: both;
}

@keyframes autofill {
  0%,
  100% {
    color: $body-text;
    background: transparent;
  }
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
button,
label,
input {
  font-family: $title-font;
}

input,
label {
  line-height: calc(1.5 * #{map-get($font-size, body)});
  font-size: map-get($font-size, body);
}

h1 {
  font-weight: 900;
  font-size: map-get($font-size, heading-extra-large);
  line-height: calc(1.5 * #{map-get($font-size, heading-extra-large)});

  @media screen and (max-width: 768px) {
    font-size: map-get($font-size, heading-large);
    line-height: calc(1.5 * #{map-get($font-size, heading-large)});
  }
}

h2 {
  font-weight: 700;
  font-size: map-get($font-size, heading-large);
  line-height: calc(1.5 * #{map-get($font-size, heading-large)});

  @media screen and (max-width: 768px) {
    font-size: map-get($font-size, heading);
    line-height: calc(1.5 * #{map-get($font-size, heading)});
  }
}

h3 {
  font-weight: 600;
  font-size: map-get($font-size, heading);
  line-height: calc(1.5 * #{map-get($font-size, heading)});

  @media screen and (max-width: 768px) {
    font-size: map-get($font-size, heading-small);
    line-height: calc(1.5 * #{map-get($font-size, heading-small)});
  }
}

h4 {
  font-weight: 600;
  font-size: map-get($font-size, heading-small);
  line-height: calc(1.5 * #{map-get($font-size, heading-small)});
}

p,
body {
  font-weight: 500;
  font-family: $body-font;
  font-size: map-get($font-size, body);
  line-height: calc(1.5 * #{map-get($font-size, body)});
}

body {
  color: $body-text;
  background-color: $background;
}

.underline {
  text-decoration: underline;
}
