$title-font: 'Open Sans', 'sans-serif';
$body-font: 'Montserrat', 'sans-serif';

$font-size: (
  body-small: 1.4rem,
  body: 1.5rem,
  heading: 2.2rem,
  heading-large: 2.6rem,
  heading-extra-large: 3rem,
  heading-small: 1.8rem,
);
