@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 950px;
  margin-bottom: 50px;

  @media screen and (max-width: 950px) {
    width: 100vw;
  }
}

.filter {
  @include alignSpaceAndCenter();
  @media screen and (max-width: 950px) {
    padding: 0 3%;
  }
}

.theme {
  background-color: $primary;
  padding: 20px 50px;
  margin-top: 20px;

  @media screen and (max-width: 950px) {
    padding: 20px 3%;
  }

  h2 {
    font-size: map-get($font-size, heading);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  h3 {
    font-size: map-get($font-size, body);
    font-weight: 400;
    font-family: $body-font;
    display: flex;
    align-items: center;
  }

  ul {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  li {
    border-bottom: 1px solid $primary-light;

    p {
      margin: 5px 0px 8px 22px;
      transition: 0.4s;
      animation: fadeIn ease 0.4s;
    }
  }

  .topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $primary-light;
    padding: 6px 0px;

    @media screen and (max-width: 768px) {
      display: block;
    }

    svg {
      fill: $body-text;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__opinion {
    text-transform: uppercase;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
      padding-left: 23px;
    }
  }
  .pro {
    color: $pro;
  }
  .con {
    color: $con;
  }

  .neutral {
    color: $neutral;
  }

  &__subtitle {
    color: $secondary-text;
  }
}

.less {
  width: 12px;
  height: 2px;
  background-color: $body-text;
  margin-right: 10px;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  box-sizing: content-box;
  cursor: pointer;
}

.no-positions {
  margin-top: 35px;
  @media screen and (max-width: 1050px) {
    padding: 0 3%;
  }
}
