@import 'fonts.module.scss';

.container {
  margin-top: 30px;

  #upload_widget {
    margin-top: 7px;
    width: 100%;
    padding: 15px 20px;
  }
}

.title {
  font-family: $title-font;
  font-size: map-get($font-size, heading-small);
  font-weight: 600;
  margin-bottom: 5px;
}
.filename {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
