@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  margin: 20px 0px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 10px;

  @media screen and (max-width: 1400px) {
    padding-right: 3%;
  }

  @media screen and (max-width: 768px) {
    h2 {
      padding-left: 5px;
    }
  }

  a {
    font-size: map-get($font-size, heading-small);

    @media screen and (max-width: 768px) {
      font-size: map-get($font-size, body);
      padding-right: 5px;
    }
  }
}

.list {
  display: flex;
  width: 100%;
  & > div {
    width: 28%;
    margin-right: 5%;

    @media screen and (max-width: 768px) {
      width: 45%;
    }
    @media screen and (max-width: 550px) {
      width: 95%;
    }
  }
}
