@import 'mixins.module.scss';

.container {
  padding: 0 3%;

  h1 {
    padding-top: 25px;
    margin-bottom: 15px;

    @media screen and (max-width: 768px) {
      padding-top: 20px;
      margin-bottom: 0px;
    }
  }

  .filters {
    @include alignSpaceAndCenter();
    margin: 20px 0px;
    width: 100%;

    @media screen and (max-width: 460px) {
      flex-direction: column;
      margin: 10px 0px;
      align-items: flex-start;
    }

    &__preferences {
      @media screen and (max-width: 460px) {
        margin-top: 10px;
      }
    }
  }

  .celebrities-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 420px) {
      grid-template-columns: 1fr;
    }

    @supports not (display: grid) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & > a {
        width: 30%;

        @media screen and (max-width: 768px) {
          width: 48%;
        }
        @media screen and (max-width: 420px) {
          width: 100%;
        }
      }
    }

    div {
      width: 100%;
    }

    & > a > div {
      margin-left: 0;
    }
  }
}
