.select-topic,
.select-debate {
  margin-top: 20px;

  :global(.filter-dropdown__control),
  :global(.filter-dropdown__menu-list),
  :global(.filter-dropdown__menu) {
    width: 100% !important;
  }
  :global(.filter-dropdown__menu) {
    z-index: 26;
  }
}

.additional-fields {
  margin-bottom: 30px;
}

.add {
  form {
    top: 450px;

    button {
      margin-bottom: 0px;
    }
  }
}
