@import 'fonts.module.scss';
@import 'colors.module.scss';

.container {
  .submit-button {
    margin-top: 15px;
  }

  .terms-and-conditions {
    margin-top: 30px;
    font-size: map-get($font-size, body-small);
  }
}
