.container {
  padding: 0 3%;
}

.debates-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      width: 30% !important;

      @media screen and (max-width: 768px) {
        width: 48% !important;
      }
      @media screen and (max-width: 550px) {
        width: 100% !important;
      }
    }
  }

  div {
    width: 100%;
  }
}
