@import 'colors.module.scss';
@import 'fonts.module.scss';

@keyframes loading {
  from {
    stroke-dashoffset: 114px;
  }
  to {
    stroke-dashoffset: 38px;
  }
}

.container {
  position: relative;
  font-weight: 600;
  font-size: 1.6rem;
  background: $submit;
  border-radius: 35px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: $body-text;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  svg {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    fill: none;
    stroke: $body-text;
    stroke-linecap: round;
    stroke-width: 1.5;
    opacity: 1;
    transform: translateY(0) rotate(-90deg) scale(1) translateZ(0);
    transition: transform 0.3s, opacity 0.3s;
    circle {
      &:first-child {
        stroke-opacity: 0.1;
      }
      &:last-child {
        stroke-dasharray: 38px;
        stroke-dashoffset: 114px;
        animation: loading 1.2s infinite linear 0.3s;
      }
    }
  }
}
