@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  h1 {
    padding: 0 3%;
    margin-top: 35px;
    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

.text {
  @include alignSpaceAndCenter();
  padding: 0 3%;

  a {
    font-size: map-get($font-size, heading-small);

    @media screen and (max-width: 768px) {
      font-size: map-get($font-size, body);
    }
  }
}

.type {
  margin-bottom: 30px;
}
