.container {
  padding-left: 3%;
  padding-right: 3%;

  @media screen and (max-width: 1400px) {
    padding-right: initial;
  }

  h1 {
    margin-top: 35px;
    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  .last-debates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35% 30% 35%;
    grid-gap: 2.5%;
    height: 600px;
    margin-bottom: 70px;

    @media screen and (max-width: 1400px) {
      padding-right: 3%;
    }

    @media screen and (max-width: 660px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 100px 100px 150px 100px 100px 150px;
      height: 750px;

      .home__horizontal-debate:last-of-type {
        grid-row: 4;
      }
    }

    @supports not (display: grid) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        height: 750px;
      }

      @media screen and (max-width: 480px) {
        height: 1050px;
      }

      & > div {
        width: 31% !important;
        max-height: 310px;
        margin-bottom: 15px;

        @media screen and (max-width: 768px) {
          width: 48% !important;
          max-height: 250px;
        }

        @media screen and (max-width: 480px) {
          width: 100% !important;
          max-height: 160px;
        }
      }
    }
  }
}
