@import 'colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 280px;

  @media screen and (max-width: 385px) {
    height: 290px;
  }

  div,
  h3 {
    text-align: left;

    @media screen and (max-width: 1050px) {
      margin-bottom: 10px;
    }
  }
  p {
    text-align: center;
  }
  svg {
    fill: $congratulate;
    width: 70px;
  }
}
