@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  padding: 0 3%;
  margin: auto;
  margin-top: -10px;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }

  @media screen and (max-width: 600px) {
    top: 100px;
  }

  h1 {
    display: none;
  }

  & > div {
    width: 100%;
  }
}

.overview {
  @media screen and (max-width: 600px) {
    margin: 0;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.numbers {
  @include alignSpaceAndCenter();
  flex-wrap: wrap;

  svg {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 950px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (max-width: 430px) {
      width: 40px;
      height: 40px;
    }
  }
}

.number {
  background-color: $primary;
  padding: 25px;
  width: 220px;
  margin-top: 5px;

  @media screen and (max-width: 950px) {
    width: 24%;
    min-width: 202px;
  }

  @media screen and (max-width: 860px) {
    width: 32%;
  }

  @media screen and (max-width: 650px) {
    width: 49%;
  }

  @media screen and (max-width: 430px) {
    width: 100%;
  }

  p {
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 600;
  }

  &__bottom {
    @include alignSpaceAndCenter();
    margin-top: 20px;
    font-size: 50px;
    width: 90%;
    font-family: $title-font;

    @media screen and (max-width: 950px) {
      font-size: 40px;
    }

    @media screen and (max-width: 430px) {
      font-size: 50px;
      width: 80%;
      margin-left: 20px;
    }
  }

  &__contributions {
    fill: #d05caf;
  }

  &__arguments {
    fill: #522cea;
  }

  &__likes {
    fill: $congratulate;
  }

  &__dislikes {
    fill: $error;
  }
}

.arguments,
.testimonials {
  margin-top: 35px;

  h2 {
    margin-bottom: 20px;
  }
}

.testimonials {
  margin-bottom: 30px;
}

.list {
  & > a {
    color: $body-text;

    &:hover {
      opacity: 1;
    }
    :global(.message) {
      margin-bottom: 10px;
      max-width: 750px !important;
    }
  }

  &__debate {
    background-color: $primary;
    max-width: 750px;
    padding: 15px 0px 0px 20px;

    span {
      color: $secondary;
    }
  }
}

.display-more {
  max-width: 750px;
  display: flex;
  justify-content: center;
}
