@import 'animations.module.scss';
@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  width: 500px;
  background-color: $primary;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  animation: fadeIn ease 0.4s;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  z-index: 8;
  margin-bottom: 25px;
}

.close-button {
  text-align: right;
  svg {
    cursor: pointer;
  }
}

.title {
  font-size: map-get($font-size, heading-small);
  font-weight: 600;
  margin-bottom: 20px;
}

.position {
  &__label {
    margin-bottom: 5px;
  }

  button:first-child:nth-last-child(2),
  button:first-child:nth-last-child(2) ~ button {
    width: 48%;
  }
  button:first-child:nth-last-child(3),
  button:first-child:nth-last-child(3) ~ button {
    width: 32%;
  }
}

.separator {
  margin: 20px 0;
  width: 106%;
  transform: translateX(-3%);
  height: 5px;
  background-color: $background;
}
