.container {
  padding: 0 3%;
  h1 {
    padding-top: 35px;
  }
  p,
  h1 {
    text-align: center;
    margin-bottom: 7px;
  }
  p {
    margin-bottom: 25px;
  }
}

.mobile-container {
  padding: 0 3%;

  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-container {
  width: 40%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.form {
  width: 40%;
}
