@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  @include alignSpaceAndCenter();
  height: 60px;
  padding: 0 3%;

  .menu {
    @include alignSpaceAndCenter();
    width: 190px;
  }

  .burger {
    display: block;
    cursor: pointer;

    div {
      width: 30px;
      height: 3px;
      background-color: $body-text;
      margin: 5px 0px;
    }
  }

  .brand {
    font-size: map-get($font-size, heading);
    font-weight: 700;
    font-family: 'Open Sans';

    a {
      color: $body-text;

      &:hover {
        opacity: 1;
      }
    }
  }

  .beta {
    font-size: 1.8rem;
    font-weight: 200;
    color: $secondary-text;
  }

  .search-button {
    margin-top: 5px;
    cursor: pointer;
  }

  .search-focus {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 3%;
    background-color: $primary-light;
    @include alignSpaceAndCenter();

    svg {
      margin-top: 3px;
    }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      padding-right: 5px;
      padding-left: 15px;
      padding-top: 1px;
      line-height: initial;

      &::placeholder {
        color: $secondary-text;
      }
    }
  }

  .user {
    margin-top: 20px;

    a {
      color: $body-text;

      &:hover {
        opacity: 1;
      }
    }

    &__picture {
      $pictureSize: 60px;
      width: $pictureSize;
      height: $pictureSize;
      border-radius: $pictureSize;
      background-color: $background;
      cursor: pointer;
      padding-left: 1px;

      img {
        fill: $secondary;
        width: $pictureSize;
        height: $pictureSize;
        object-fit: cover;
        border-radius: $pictureSize;
      }
    }
    &__username {
      font-size: map-get($font-size, heading-small);
      font-weight: 600;
      margin: 10px 0 20px 5px;
    }
  }

  .user-menu {
    margin-top: 10px;
    &__title {
      font-size: map-get($font-size, heading-small);
      font-weight: 600;
      margin-bottom: 7px;
    }
    &__label {
      display: flex;
      align-items: center;
    }
    &__chevron-right {
      margin: 0 !important;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    li {
      width: 100%;
      padding: 5px 0px;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: $secondary;
      }
    }

    svg {
      fill: $body-text;
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    &__logout {
      display: flex;
      align-items: center;
      justify-content: flex-start !important;
      margin-top: 5px;
    }
  }

  .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    height: 100%;
    background-color: $primary;
    padding: 5%;
    z-index: 4;
    transition: 0.4s;
    overflow-y: auto;
    overflow-x: hidden;

    &__close-button {
      display: none;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-color: $primary;
      justify-content: center;
      padding-top: 1px;
      align-items: center;
      position: absolute;
      right: -50px;
      top: 5%;
      transform: translateY(25%);
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 90px;

      button {
        text-transform: uppercase;
        width: 100%;
        font-size: map-get($font-size, body-small);
      }
    }

    &__separator {
      margin: 20px 0px;
      position: absolute;
      left: 0;
      width: 250px;
      height: 1px;
      background-color: $secondary-text;
    }

    &__title {
      font-weight: 600;
      font-family: $title-font;
      font-size: map-get($font-size, heading-small);
      padding-bottom: 5px;
    }

    &__categories {
      margin-top: 40px;

      ul {
        margin-bottom: 3px;
      }

      li a {
        padding: 3px 0px;
        cursor: pointer;
        @include alignSpaceAndCenter();

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__about-us {
      margin-top: 40px;

      div {
        margin-bottom: 10px;
      }
      a {
        display: block;
        margin-bottom: 10px;
      }
    }

    &__celebrities {
      margin-top: 40px;
      a {
        @include alignSpaceAndCenter();
        color: $body-text;
      }
    }

    &__social-networks {
      display: flex;
      width: 70px;
      margin-top: 20px;
      justify-content: space-between;

      svg {
        background-color: $body-text;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__hide-background {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.4;
      z-index: 3;
    }
  }

  .nav-mobile.active {
    transform: translateX(0%);
    .nav-mobile__close-button {
      display: flex;
    }
  }

  .theme-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: $primary;
    overflow: auto;

    &__container {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0px;

      ul {
        text-align: center;
        padding-bottom: 40px;
      }

      li {
        padding: 10px 0px;
        font-weight: 600;
        font-size: map-get($font-size, heading-small);
      }
    }

    &__close-button {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-color: $body-text;
      padding-top: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      z-index: 5;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }

    &__title {
      font-weight: 700;
      font-size: map-get($font-size, heading);
      margin-bottom: 20px;
      font-family: $title-font;
    }
  }
}
