@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  min-height: 100vh;
  width: 100%;
  background-color: $background;

  nav ul li:first-child {
    padding-right: 20px;
  }
  nav {
    margin-bottom: 30px;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 3%;

  h1 {
    font-size: map-get($font-size, heading);
    font-weight: 700;
    max-width: 950px;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }
}

.results {
  max-width: 950px;
  width: 100%;

  & > div {
    margin-bottom: 20px;
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  width: 100%;
  margin-bottom: 30px;

  @media screen and (max-width: 360px) {
    flex-direction: column;

    p {
      margin-top: 20px;
    }
  }
}

.no-results {
  background-color: $primary;
  padding: 15px 25px;
  border-radius: 15px;
  h2 {
    font-size: map-get($font-size, heading);

    @media screen and (max-width: 600px) {
      font-size: map-get($font-size, heading-small);
      line-height: map-get($font-size, heading-small) * 1.5;
    }
  }
  ul,
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
  ul {
    margin-top: 15px;
  }
  li {
    margin-bottom: 5px;
  }
}
