@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  border-top: 1px solid $primary-light;
  border-bottom: 1px solid $primary-light;
  padding: 20px 0px;

  p {
    background: url('../../../../../../public/static/icons/left-quote_background.svg') no-repeat;
    white-space: pre-line;
  }

  .bottom {
    @include alignSpaceAndCenter();
    margin-top: 15px;

    &__date {
      display: flex;
      align-items: center;
      .line {
        width: 25px;
        height: 2px;
        background-color: $secondary-text;
        margin-right: 10px;

        @media screen and (max-width: 670px) {
          width: 17px;
        }
        @media screen and (max-width: 350px) {
          display: none;
        }
      }
    }

    &__likes,
    &__likes button {
      display: flex;
      align-items: center;
    }

    &__likes button {
      padding: 3px;
      &:hover {
        background-color: $background;
        border-radius: 5px;
      }
    }

    &__likes button:first-child {
      margin-right: 15px;
    }

    &__author {
      @media screen and (max-width: 670px) {
        display: none;
      }
    }

    svg {
      fill: $body-text;
      width: 23px;
      margin-right: 7px;
    }
  }
}
