@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  padding: 0 3%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: map-get($map: $font-size, $key: heading-large);

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  h2 {
    margin-top: 20px;
    font-size: map-get($map: $font-size, $key: heading);

    @media screen and (max-width: 650px) {
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 650px) {
    margin-top: 0px;
  }
}

.back {
  color: $body-text;
  margin-left: -3%;
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    background-color: $background;
  }

  svg {
    margin-right: 10px;
  }
}

.participants {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.display-more {
  margin-top: 30px;
  width: 100%;

  p {
    margin-bottom: 8px;
  }
}
