@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  margin-top: 35px;

  h2 {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-top: 20px;
    font-size: 1.7rem;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: map-get($font-size, body);
    }
  }

  @media screen and (max-width: 650px) {
    margin-top: 0px;
  }
}

.space {
  margin-bottom: 5px;
}

.modal {
  p {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  button {
    font-size: map-get($font-size, body);
    margin-bottom: 0;
    width: 100%;
    margin-top: 8px;
  }
}
