@import 'colors.module.scss';
@import 'mixins.module.scss';

.container {
  .options {
    @include alignSpaceAndCenter();
    margin-top: 25px;

    @media screen and (max-width: 392px) {
      display: block;
    }

    &__remember-me {
      @include alignSpaceAndCenter();
      width: 180px;

      @media screen and (max-width: 392px) {
        margin-bottom: 20px;
      }

      input {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
        }

        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 18px;
          height: 18px;
          background: $body-text;
        }

        // Box hover
        &:hover + label:before {
          background: $secondary;
        }

        // Box focus
        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked + label:before {
          background: $secondary;
        }

        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 4px;
          top: 11px;
          background: $body-text;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 $body-text, 4px 0 0 $body-text, 4px -2px 0 $body-text, 4px -4px 0 $body-text,
            4px -6px 0 $body-text, 4px -8px 0 $body-text;
          transform: rotate(45deg);
        }
      }
    }
  }
}
