@import 'colors.module.scss';

.container {
  background-color: $primary;
  position: absolute;
  z-index: 5;
  padding: 20px;
  width: 100%;
  max-width: 440px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 1050px) {
    max-width: 400px;
    width: calc(100% - 60px);
  }

  ul {
    margin-top: 5px;
  }
  li {
    list-style-type: disc;
    margin-left: 25px;
  }
}
