@import 'colors.module.scss';

.container {
  max-width: 850px;
  width: max-content;
  margin-bottom: 50px;
  padding: 0 5px;

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .content {
    h2 {
      margin: 35px 0px 15px 0px;
      text-align: left;

      &:first-of-type {
        margin-top: 20px;
      }
    }

    ul > li {
      list-style: disc;
    }

    ul {
      padding-left: 40px;
      margin-bottom: 25px;
    }

    ul > li li {
      list-style: circle;
    }

    p,
    li {
      font-size: 1.8rem;
      line-height: calc(1.8rem * 1.6);
      text-align: left;
      word-break: break-word;
    }

    p {
      margin-bottom: 15px;
    }

    img {
      margin-top: 30px;
      margin-bottom: 45px;
      max-width: 100%;
      height: 100%;
    }
  }
}

.time,
.date {
  color: $secondary-text;
}

.author {
  text-transform: capitalize;
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
