@import 'colors.module.scss';
@import 'mixins.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  background: $primary;
  padding: 2%;
  padding-bottom: 1.5%;
  width: calc(98% - 75px);
  margin-left: calc(75px + 2%);
  margin-bottom: 10px;
  border-radius: 5px;

  :global(.form__field--error) {
    margin-left: 20px;
  }
}

.comment {
  display: flex;
  align-items: flex-start;
}

.picture {
  margin-right: 10px;

  @media screen and (max-width: 425px) {
    margin-right: 10px;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
}

.picture + div {
  margin-top: 2px;
}

.source,
.buttons {
  margin-left: 58px;
  animation: fadeIn ease 0.4s;
}

.buttons {
  @include alignSpaceAndCenter();
  margin-top: 10px;

  button {
    height: 45px !important;
  }

  & > div:only-child {
    margin-left: 75%;
  }

  &__position {
    width: 350px;
  }

  &__submit {
    width: 25%;
    button {
      margin: 0 !important;
    }
  }
}
