@import 'colors.module.scss';
@import 'fonts.module.scss';

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0 3%;
  width: 100%;
  margin-top: 110px;
  @media screen and (max-width: 768px) {
    top: 500px;
    left: 0;
    display: block;
    max-width: 100vw;
    margin-top: 70px;
  }
}

.validate {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 300px;
  z-index: 10;

  @media screen and (max-width: 768px) {
    left: 10%;
    width: 100%;

    & > button {
      width: 80%;
    }
  }
}
