@import 'colors.module.scss';

.container {
  width: 100%;
  max-width: 900px;

  :global(.message) {
    margin-bottom: 10px;

    @media screen and (max-width: 650px) {
      margin-bottom: 3px;
    }
  }

  @media screen and (max-width: 650px) {
    width: 100vw;
  }
}

.back {
  margin-bottom: 20px;

  a {
    color: $body-text;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: max-content;

    @media screen and (max-width: 768px) {
      max-width: max-content;
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  svg {
    margin-right: 15px;
    width: 20px;
    height: 20px;

    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 60px;
    background-color: $primary-light;
    margin-bottom: 0;
    padding: 0 3%;
    font-size: 1.6rem;
  }
}
