@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  padding-top: 35px;

  h1 {
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 0 3%;
  }
}

.type {
  border: 1px solid $body-text;
  padding: 20px;
  width: 47%;
  cursor: pointer;
  transition: 0.3s;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 7px;
    font-size: map-get($map: $font-size, $key: heading);
  }

  p:first-of-type {
    margin-bottom: 7px;
  }

  &:hover {
    border: 1px solid $secondary;
    background-color: rgba($secondary, 0.1);
  }
}

.back {
  color: $body-text;
  margin-left: 3%;
  margin-top: -20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    background-color: $background;
  }

  svg {
    margin-right: 10px;
  }
}

.helper {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 35px 0;

  @media screen and (max-width: 900px) {
    align-items: center;
    padding: 35px 3%;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    @media screen and (max-width: 900px) {
      margin-left: 10px;
    }
  }
}
