@import 'colors.module.scss';
@import 'mixins.module.scss';
@import 'fonts.module.scss';

.container {
  z-index: 20;
  position: absolute;
  top: 0;
  background-color: $background;
  padding: 0 3%;
  padding-bottom: 20px;
  height: 100%;
  max-width: 100vw;
}

.header {
  background-color: $primary-light;
  height: 60px;
  @include alignSpaceAndCenter();
  padding: 0 3%;
  width: 106%;
  transform: translateX(-3%);

  &__title {
    text-align: center;
    width: 100%;
    text-align: center;
    font-size: map-get($font-size, heading-small);
    font-family: $title-font;
    font-weight: 600;
  }
}

.text {
  margin: 20px 10px;
  min-height: calc(100% - (40vh + 250px));
  height: max-content;

  p {
    background: url('../../../../../public/static/icons/left-quote_primary.svg') no-repeat;
  }
}

.card {
  background-color: $primary;
  padding: 20px 10px;
  padding-bottom: 1px;
  border-radius: 40px;
  margin: auto;
  border: 5px solid $background;

  img {
    height: 40vh;
    max-height: 500px;
    border-radius: 40px;

    @media screen and (max-height: 650px) {
      height: 35vh;
    }
    @media screen and (max-height: 590px) {
      height: 28vh;
    }
  }
}

.carousel {
  width: 106%;
  transform: translateX(-3%);
  margin-bottom: 10px;

  :global(.statements-list) {
    :global(.slick-slide) {
      transform: scale(0.95) translateY(12px);
      transition: 0.4s;
    }
    :global(.slick-active) {
      transform: scale(1);
      transition: 0.4s;
    }
  }
}
