@import 'colors.module.scss';
@import 'fonts.module.scss';

$height-nav: 70px;

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  height: $height-nav;
  z-index: 2;
  padding: 0 3%;
  justify-content: space-between;
  align-items: center;
  max-width: 1415px;

  a {
    color: $body-text;

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: 950px) {
    overflow-x: hidden;
  }
}

.menu {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  min-width: 495px;
}

.brand {
  font-size: map-get($font-size, heading);
  font-weight: 800;
  font-family: 'Open Sans';
}

.beta {
  font-size: 1.8rem;
  font-weight: 200;
  color: $secondary-text;
}

.separator {
  width: 1px;
  height: 35px;
  background-color: $body-text;
  margin-right: 10px;
  margin-left: 10px;
}

.categories {
  position: relative;
  transition: 0.4s;
  display: flex;

  &__directory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    font-family: $title-font;
    border-radius: 5px;

    p {
      line-height: initial;
      font-family: $title-font;
    }

    &:hover {
      background-color: $primary;
    }

    svg {
      margin-right: 8px;
    }
  }

  &__link {
    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    svg {
      fill: $body-text;
    }
  }

  &__menu {
    position: absolute;

    transform: translateY(100%);
    bottom: -5px;
    z-index: 20;

    ul {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(6, auto);
      grid-column-gap: 20px;
      background-color: $primary;
      padding: 10px 20px;

      @supports not (display: grid) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    li {
      padding: 2px 0px;

      a:hover {
        color: $secondary;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    svg {
      display: none;
    }
  }
}

.user_and_search {
  display: flex;
  align-items: center;
}

.search_icon {
  cursor: pointer;
  margin-right: 30px;
}

.search {
  $search-height: 40px;
  background-color: $background;
  position: absolute;
  width: calc(100% - 590px);
  right: 370px;
  height: $search-height;
  border-radius: $search-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 20px;

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-right: 5px;
    padding-top: 1px;
    line-height: initial;

    &::placeholder {
      color: $secondary-text;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min-content;

  &__picture {
    $pictureSize: 45px;
    border-radius: $pictureSize;
    background-color: $background;
    cursor: pointer;
    width: $pictureSize;
    height: $pictureSize;
    padding-left: 1px;

    img {
      width: $pictureSize;
      height: $pictureSize;
      object-fit: cover;
      border-radius: $pictureSize;
    }
  }
  a {
    color: $body-text;

    &:hover {
      opacity: 1;
    }
  }
  &__username {
    padding: 0 20px;
    white-space: nowrap;
  }
}

.user-menu {
  background-color: $primary;
  position: absolute;
  top: 50px;
  right: 3%;
  border-radius: 3px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  li {
    width: 100%;
    transition: 0.2s;

    &:hover {
      background-color: $secondary;
    }
  }

  li a {
    display: flex;
    align-items: center;
    color: $body-text;
    width: 100%;
    padding: 10px 15px;

    &:hover {
      opacity: 1;
    }
  }
  svg {
    fill: $body-text;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  &__logout {
    display: flex;
    align-items: center;
    border-top: 1px solid $secondary-text;
    padding: 10px 15px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  min-width: 330px;
  button {
    text-transform: uppercase;
    width: 160px;
    font-size: map-get($font-size, body-small);
  }
}
