@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  display: flex;
  background-color: $primary;
  border-radius: 25px;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    max-height: 350px;
  }
}

.picture {
  width: 35%;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
  img {
    object-fit: cover;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;

    @media screen and (max-width: 600px) {
      border-radius: 25px 25px 0px 0px;
      max-height: 150px;
    }
  }
}

.info {
  width: 65%;
  padding: 1% 2%;

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 3% 4%;
  }

  &__theme {
    color: $secondary;
  }

  &__text {
    h2 {
      display: none;
    }
    p {
      display: none;
    }
    // TODO: check multi browser compatibility
    p:first-of-type {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  h2 {
    font-size: map-get($font-size, heading-small);
    line-height: 1.5 * map-get($font-size, heading-small);
    margin: 10px 0px;
  }
}

.meta {
  @include alignSpaceAndCenter();
  margin-top: 20px;

  @media screen and (max-width: 370px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  &__date {
    color: $secondary-text;

    @media screen and (max-width: 370px) {
      margin-bottom: 5px;
    }
  }

  &__numbers {
    @include alignSpaceAndCenter();
    margin-right: 20px;
    p:first-of-type {
      margin-right: 20px;
    }
  }
}
