@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  width: 90%;
  height: 220px;
  position: relative;
  transition: 0.3s;

  @media screen and (max-width: 768px) {
    width: 95%;
  }

  &:hover {
    transform: scale(1.05);

    @media screen and (max-width: 768px) {
      transform: scale(1);
    }
  }

  a:hover {
    opacity: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
    object-fit: cover;
    overflow: hidden;
  }

  .linear-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.11%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    color: $body-text;
    padding: 10px;

    h3 {
      color: $body-text;
      position: absolute;
      bottom: 10px;
      width: 90%;

      @media screen and (max-width: 1050px) {
        font-size: map-get($font-size, heading-small);
        line-height: calc(1.5 * #{map-get($font-size, heading-small)});
      }

      @media screen and (max-width: 350px) {
        font-size: map-get($font-size, body);
        line-height: calc(1.5 * #{map-get($font-size, body)});
      }
    }
    p {
      text-align: start;
      text-transform: uppercase;
      font-size: map-get($font-size, body-small);
      padding: 5px;

      @media screen and (max-width: 450px) {
        font-size: 1.2rem;
      }
    }
  }
}

.draft {
  opacity: 0.5;

  &:hover {
    transform: scale(1);
  }

  &__soon {
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
    font-size: map-get($font-size, heading-small);
    color: $secondary;
  }
}

.last-debate {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;

  .home__linearGradient {
    width: 100%;
    height: 100%;
  }

  h3 {
    color: $body-text;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
  }

  .align-right {
    left: 60%;
  }

  .align-left {
    left: 40%;
  }

  img {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
    overflow: hidden;
  }
}

.horizontal-debate {
  grid-column: span 2;
}

@media screen and (max-width: 660px) {
  .horizontal-debate:last-of-type {
    grid-row: 4;
  }
}

.vertical-debate {
  grid-row: span 2;
}
