@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  textarea {
    width: 100%;
    min-height: calc(100vh - 358px);
    resize: none;
    background-color: $primary;
    color: $body-text;
    border: none;
    font-family: $body-font;
    font-size: map-get($font-size, body);
    line-height: calc(1.5 * #{map-get($font-size, body)});

    &::placeholder {
      color: $body-text;
    }
  }
}
