.container {
  :global(.form__group) {
    min-width: initial;
  }

  /*&__image {
    margin-top: 30px;
    &__title {
      font-family: $title-font;
      font-size: map-get($font-size, heading-small);
      font-weight: 600;
      margin-bottom: 5px;
    }
    &__filename {
      margin-top: 10px;
      text-align: center;
      font-weight: 600;
    }
    button {
      margin-top: 7px;
      width: 100%;
      padding: 15px 20px;
    }
  }*/
}
