@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 950px;
  margin-top: 30px;
  background-color: $primary;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 30px;

  @media screen and (max-width: 1050px) {
    margin: 0;
    border-radius: 0;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.left {
  margin-right: 20px;
  margin-top: 10px;
  img {
    $size: 180px;
    object-fit: cover;
    width: $size;
    height: $size;
    border-radius: $size;
  }
}

.right {
  min-width: calc(100% - 200px);
  @media screen and (max-width: 600px) {
    h1,
    .job {
      text-align: center;
    }
  }
}

.job {
  color: $secondary-text;
  font-size: map-get($font-size, heading-small);

  &::first-letter {
    text-transform: capitalize;
  }
}

.description {
  margin: 15px 0px;
  min-height: 30px;
}

.properties {
  li {
    margin: 3px 0px;
  }
}
