@import 'mixins.module.scss';
@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  max-width: 900px;
  width: 100%;

  h2 {
    font-size: map-get($font-size, heading);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

    @media screen and (max-width: 850px) {
      margin-top: 20px;
    }
  }
}

.top {
  @include alignSpaceAndCenter();
  position: relative;
}

.positions {
  width: 330px;

  button {
    text-transform: uppercase;
    width: 160px;

    @media screen and (max-width: 400px) {
      text-transform: initial;
      min-width: 80px !important;
    }
  }
}

.add {
  button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
  }
  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    path {
      fill: $body-text;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.line.pro {
  background-color: $pro;
}
.line.con {
  background-color: $con;
}
.line.neutral {
  background-color: $neutral;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      width: 30% !important;

      @media screen and (max-width: 768px) {
        width: 48% !important;
      }
      @media screen and (max-width: 450px) {
        width: 100% !important;
      }
    }
  }
}

.add-mobile {
  $size: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: $size;
  width: $size;
  background-color: $secondary;
  border-radius: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  svg {
    width: 25px;
    height: 25px;
    fill: $body-text;
  }
}

.not-voted {
  max-width: 800px;
  text-align: center;
  p {
    font-size: map-get($font-size, heading-small);
  }
}

.type {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  transition: 0.3s;
  margin-bottom: 15px;
  width: 106%;
  margin-left: -3%;

  @media screen and (max-width: 650px) {
    margin-bottom: 0px;
  }

  button {
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: map-get($font-size, heading-small);
    background-color: $background;
    cursor: pointer;
    transition: 0.3s;
    width: 45%;

    @media screen and (max-width: 420px) {
      font-size: map-get($font-size, body);
    }
  }

  &__pro {
    margin-right: 20px;

    @media screen and (max-width: 370px) {
      margin-right: 10px;
    }
  }
  &__pro.active {
    border: 2px solid $pro;
    color: $pro;
  }
  &__con.active {
    border: 2px solid $con;
    color: $con;
  }
  .inactive {
    border: 2px solid $secondary-text;
    color: $secondary-text;
    opacity: 0.3;
  }
}

.type-pro {
  border-bottom: 2px solid $pro;
}
.type-con {
  border-bottom: 2px solid $con;
}
.type-fixed {
  position: fixed;
  top: 65px;
  z-index: 50;
  padding-top: 15px;
  background-color: $primary-light;

  button {
    background-color: $primary-light;
  }
  .inactive {
    opacity: 0.5;
  }
}
