.select-topic,
.select-debate {
  margin-top: 20px;

  :global(.filter-dropdown__control),
  :global(.filter-dropdown__menu-list),
  :global(.filter-dropdown__menu) {
    width: 100% !important;
    z-index: 25;
  }
  :global(.filter-dropdown__menu) {
    z-index: 26;
  }
}
