.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  padding: 0 3%;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  h1 {
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 35px;
    margin-bottom: -5px;
  }

  h3 {
    margin-top: 15px;
  }
  ul {
    margin-left: 20px;

    @media screen and (max-width: 600px) {
      margin: 0;
    }
  }
  li {
    list-style: disc;
    list-style-position: inside;
  }
}
