@import 'mixins.module.scss';
@import 'colors.module.scss';

.container {
  max-width: 900px;
  width: 100%;
  margin-bottom: 30px;
}

.top {
  @include alignSpaceAndCenter();
  margin-bottom: 20px;

  button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
  }
  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    path {
      fill: $body-text;
    }
  }
}

.list {
  & > div {
    margin-bottom: 20px;

    @media screen and (max-width: 650px) {
      margin-bottom: 3px;
    }
  }

  @media screen and (max-width: 650px) {
    width: 106%;
    transform: translateX(-3%);
  }
}

.add {
  $size: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: $size;
  width: $size;
  background-color: $secondary;
  border-radius: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
  svg {
    width: 25px;
    height: 25px;
    fill: $body-text;
  }
}

.no-arguments {
  @media screen and (max-width: 768px) {
    padding: 3%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
