@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  display: flex;
  background-color: $primary;
  border-radius: 25px;
  cursor: pointer;
  padding: 15px;

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.picture {
  display: flex;
  justify-content: center;
  margin: 8px 30px 0px 15px;

  @media screen and (max-width: 600px) {
    margin: 0;
    margin-right: 15px;
  }

  @media screen and (max-width: 550px) {
    margin-bottom: 15px;
  }

  img {
    object-fit: cover;
    overflow: hidden;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 130px;
  }
}

.info {
  h2 {
    font-size: map-get($font-size, heading);
  }

  &__profession {
    color: $secondary-text;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__description {
    margin-top: 10px;
    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  @media screen and (max-width: 550px) {
    h2,
    .info__profession {
      text-align: center;
    }
    h2 {
      font-size: map-get($font-size, heading-small);
    }
  }
}
