@import 'colors.module.scss';

.container {
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 20px;

  @media screen and (max-width: 1200px) {
    padding: 20px 3%;
  }

  @media screen and (max-width: 950px) {
    overflow-x: hidden;
  }
}

.contacts,
.contacts a,
.contacts div {
  display: flex;
  align-items: center;
}

.contacts {
  justify-content: space-between;

  a {
    svg {
      margin-right: 10px;
      margin-left: 15px;
      background-color: white;
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
