@import 'colors.module.scss';

.container {
  margin: 0 5px;
  margin-bottom: 20px;
  cursor: pointer;
  color: $body-text;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  h3,
  p {
    text-align: center;
    padding: 0 10px;
  }
  p {
    color: $secondary-text;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
