@import 'colors.module.scss';
@import 'fonts.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    fill: $body-text;
    width: 50px;
    height: 50px;
  }
}

.parent {
  position: absolute;
}

.text {
  margin: 30px 0px;
  max-width: 490px;
  text-align: center;

  &__title {
    font-size: map-get($font-size, heading-small);
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 290px;

  button {
    text-transform: uppercase;
    height: 45px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
    height: 115px;

    button {
      height: 50px;
    }
  }
}
