@import 'fonts.module.scss';

.container {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  padding: 0 3%;
  margin: auto;
  margin-top: -10px;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }

  @media screen and (max-width: 600px) {
    top: 70px;
  }

  h1 {
    display: none;
  }

  & > div {
    width: 100%;
  }
}

.update-credentials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  form {
    max-width: 440px;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: calc(768px - 3%);
    }

    &:first-of-type {
      margin-right: 30px;

      @media screen and (max-width: 600px) {
        margin-right: 0px;
        margin-bottom: 25px;
      }
    }
  }
  h2 {
    font-size: map-get($font-size, heading);
    line-height: calc(1.5 * #{map-get($font-size, heading)});
  }
}

.delete-account {
  margin-top: 25px;

  h2 {
    margin-bottom: 15px;
  }

  button {
    width: 100%;
    margin-top: 20px;
    font-size: 1.7rem;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: map-get($font-size, body);
    }
  }

  &__modal {
    p {
      margin-top: 8px;
    }
    button {
      font-size: map-get($font-size, body);
      margin-bottom: 0;
      width: 100%;
      margin-top: 15px;
    }
  }
}
