@import 'colors.module.scss';
@import 'fonts.module.scss';

.celebrity {
  height: 100%;
  width: 95%;
  background-color: $primary;
  border-radius: 3px;
  padding-bottom: 10px;
  margin-left: 2.5%;

  &__job,
  &__name {
    padding: 0 3%;
    text-align: center;
  }

  &__name {
    margin-top: 15px;
    font-size: map-get($font-size, heading-small);
    font-weight: 600;
    margin-bottom: 5px;
    color: $body-text;
  }

  &__job {
    color: $secondary-text;
    min-height: 44px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  & img {
    object-fit: cover;
    overflow: hidden;
    height: 240px;
    width: 100%;
    border-radius: 3px 3px 0px 0px;

    @media screen and (max-width: 420px) {
      height: 200px;
    }
  }
}
