@import 'colors.module.scss';

.container {
  max-width: 900px;
  padding: 0 3%;
  margin: auto;
}

.statement {
  margin: 30px 0px;

  &__debate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    span {
      text-decoration: underline;
    }

    & > div {
      width: 230px;

      button {
        height: 40px;
      }
    }
  }

  &__text {
    display: flex;
    & > div {
      min-width: calc(100% - 63px);
    }
  }

  &__buttons {
    min-width: initial !important;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      height: 50%;
      width: 100%;
      padding: 0 15px;

      &:first-of-type {
        background-color: $congratulate;
      }
      &:last-of-type {
        background-color: $error;
      }
    }

    svg {
      width: 17px;
      height: 17px;
      fill: $body-text;
    }
  }
}

.modal {
  &__text {
    margin-top: 10px;
  }
  &__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

    button {
      width: 100%;
      @media screen and (max-width: 425px) {
        height: 50px;
      }
      &:first-of-type {
        margin-right: 20px;

        @media screen and (max-width: 425px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      &:last-of-type {
        margin: 0;
        border-radius: 5px;
      }
    }
  }
}

.no-statements {
  text-align: center;
}
