@import 'fonts.module.scss';
@import 'colors.module.scss';
@import 'mixins.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  max-width: 650px;
  width: 100%;
  display: flex;
  background-color: $primary;
  padding: 15px 2.5% 7px 2%;
  position: relative;
  animation: fadeIn ease 0.4s;

  @media screen and (max-width: 650px) {
    padding: 10px 15px 10px 10px;
  }
}

.right {
  width: 100%;
}

.comment,
.comment-last-level,
.main-comment {
  max-width: 900px;
}

.comment,
.comment-last-level {
  @media screen and (min-width: 650px) {
    animation: none;
  }
}

.comment-last-level {
  @media screen and (max-width: 650px) {
    margin-top: -3px;
  }
}

.main-comment {
  p {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 650px) {
    border-bottom: 3px solid $primary-light;
    margin-bottom: 0px !important;
  }
}

.testimonial {
  max-width: 900px;
  margin-bottom: 10px;

  @media screen and (max-width: 650px) {
    margin-bottom: 3px;
  }

  .picture {
    img {
      border: none;
    }
  }
}

.comment,
.comment-last-level {
  .picture {
    width: 50px;
    height: 50px;
    img {
      width: 50px !important;
      height: 50px !important;
    }
  }
}

.picture {
  margin-right: 20px;
  margin-top: 5px;
  z-index: 2;
  height: min-content;
  background-color: $background;
  border-radius: 55px;
  width: 55px;
  height: 55px;
  cursor: pointer;

  @media screen and (max-width: 425px) {
    margin-right: 10px;
    width: 48px;
    height: 48px;
  }

  img {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    object-fit: cover;

    @media screen and (max-width: 420px) {
      width: 48px;
      height: 48px;
    }
  }
}

.picture.neutral,
.picture.pro,
.picture.con {
  img {
    border: 2px solid;
  }
}

.picture.neutral {
  img {
    border-color: $neutral;
  }
}

.picture.con {
  img {
    border-color: $con;
  }
}

.picture.pro {
  img {
    border-color: $pro;
  }
}

.top {
  @include alignSpaceAndCenter();
  margin-bottom: 10px;
  font-family: $title-font;

  &__text {
    display: flex;
    align-items: baseline;
  }

  &__type {
    font-weight: 600;
    margin-left: 5px;
    text-transform: uppercase;
  }

  &__pseudo {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;

    @media screen and (max-width: 1200px) {
      max-width: 200px;
    }

    @media screen and (max-width: 960px) {
      max-width: 150px;
    }

    @media screen and (max-width: 850px) {
      max-width: 250px;
    }
    @media screen and (max-width: 600px) {
      max-width: 200px;
    }
    @media screen and (max-width: 475px) {
      max-width: 180px;
    }
    @media screen and (max-width: 420px) {
      max-width: 140px;
    }
    @media screen and (max-width: 370px) {
      max-width: 100px;
    }

    a {
      color: $body-text;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  button {
    background-color: transparent;
    height: 22px;
  }

  svg {
    width: 25px;
    height: 22px;
    fill: $body-text;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.top.con {
  .top__type {
    color: $con;
  }
}

.top.pro {
  .top__type {
    color: $pro;
  }
}

.top.neutral {
  .top__type {
    color: $neutral;
  }
}

.argument {
  p {
    white-space: pre-wrap;
  }
  &__title {
    font-size: map-get($font-size, heading-small);
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }
}

.comment,
.comment-last-level {
  .argument__title {
    @media screen and (max-width: 650px) {
      font-size: 1.65rem;
    }
  }
}

.bottom {
  @include alignSpaceAndCenter();
  flex-wrap: wrap;
  margin-top: 15px;
  @media screen and (max-width: 370px) {
    font-size: map-get($font-size, body-small);
  }

  &__interactions {
    display: flex;
    align-items: center;

    button:first-of-type {
      margin-left: 0;
    }

    button {
      display: flex;
      align-items: center;
      transition: 0.3s;
      padding: 2%;
      margin: 0 15%;
      cursor: pointer;

      &:hover {
        background-color: $background;
        border-radius: 5px;
      }
    }

    svg {
      fill: $body-text;
      width: 23px;
      margin-right: 7px;
      min-width: 23px;

      @media screen and (max-width: 768px) {
        width: 20px;
      }
    }
  }

  button {
    @media screen and (max-width: 370px) {
      font-size: map-get($font-size, body-small);
    }
  }
}

.hanging {
  display: flex;
  align-items: center;
  position: absolute;

  &__circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }

  &__line {
    width: 35px;
    height: 1px;
  }
}

.pro.hanging {
  top: 55%;
  right: -42px;
  flex-direction: row-reverse;

  .hanging__circle,
  .hanging__line {
    background-color: $pro;
  }
}

.con.hanging {
  top: 45%;
  left: -42px;

  .hanging__circle,
  .hanging__line {
    background-color: $con;
  }
}

.hanging-comment {
  position: absolute;
  left: -47px;
  top: 45px;
  width: 65px;
  height: 2px;
  background-color: $primary-light;
  z-index: 1;

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.more-menu {
  position: absolute;
  background-color: $primary-light;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  box-shadow: darken($primary, 3) 0px 0px 15px, darken($primary, 3) 0px 0px 3px 1px;
  z-index: 4;
  display: flex;
  flex-direction: column;

  button {
    padding: 10px 20px;
    color: $body-text;
    font-size: map-get($font-size, body);
    z-index: 5;
    transition: 0.3s;
    border-radius: 2px;
    cursor: pointer;
    height: initial;

    &:hover {
      background-color: $secondary;
    }
  }
}

.source {
  padding: 10px 20px;
  background-color: $primary-light;
  margin-top: 15px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
  }

  svg {
    fill: $body-text;
    width: 35px;
    min-width: 25px;
    height: 25px;
    margin-right: 15px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.delete-modal {
  p {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  button {
    font-size: map-get($font-size, body);
    margin-bottom: 0;
    width: 100%;
    margin-top: 8px;
  }
}
