@import 'colors.module.scss';
@import 'fonts.module.scss';
@import 'mixins.module.scss';

.container {
  max-width: 950px;
  margin: auto;
  padding: 0 3%;

  & > div {
    margin-bottom: 20px;
  }
}

.no-result {
  text-align: center;
}
