@import 'colors.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  position: relative;
  animation: fadeIn ease 0.4s;
}

.answers {
  width: calc(98% - 75px);
  margin-left: calc(75px + 2%);

  @media screen and (max-width: 650px) {
    width: 100vw;
    margin: 0;
  }
}

.add {
  $size: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: $size;
  width: $size;
  background-color: $secondary;
  border-radius: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
  svg {
    width: 25px;
    height: 25px;
    fill: $body-text;
  }
}

.line {
  width: 2px;
  position: absolute;
  top: -11px;
  left: calc(2% + 27.5px);
  height: 0;
  border-radius: 2px;
  background-color: $primary-light;
  z-index: -1;

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.mobile-line {
  width: 2px;
  position: absolute;
  top: -11px;
  left: calc(2% + 27.5px);
  height: 100px;
  border-radius: 2px;
  background-color: $primary-light;
  display: none;

  @media screen and (max-width: 650px) {
    display: block;
    z-index: 1;
  }
}
