@import 'colors.module.scss';

.container {
  padding: 0 3%;
  width: 100vw;
  max-width: 1450px;

  :global(.message) {
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  min-height: 40px;

  .preferences {
    position: absolute;
    left: 0;
  }

  .switch {
    &__community {
      border-radius: 20px 0px 0px 20px;
    }
    &__celebrities {
      border-radius: 0px 20px 20px 0px;
    }
    &__celebrities,
    &__community {
      padding: 8px 40px;
    }
    :global(.secondary-button) {
      opacity: 0.7;
    }
  }
}

.arguments {
  display: flex;
  justify-content: space-between;
}

.pro,
.con {
  width: 50%;
}

.separator {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    height: 100%;
    width: 2px;
    border-radius: 2px;
    background-color: $secondary-text;
    margin-top: 35px;
  }

  svg {
    margin-top: 20px;
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    fill: $secondary-text;
  }
}

.header {
  width: 100%;
  background-color: $primary;
  padding: 2%;
  margin-bottom: 20px;
  position: relative;

  h2 {
    text-align: center;
  }

  button {
    display: inherit;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
  svg {
    position: absolute;
    width: 38px;
    height: 38px;
  }
}

.pro .header {
  border-bottom: 5px solid $pro;

  svg {
    fill: $pro;
    left: 5%;
  }
}

.con .header {
  border-bottom: 5px solid $con;

  svg {
    fill: $con;
    right: 5%;
  }
}
